<!--
  Hero
  You'll need to use JS to swap the 1x/2x versions on screen size and DPI.
  You could also use inline responsive images with some styling applied to make it cover the entire area.
  -->
<section class="usa-hero" aria-label="Introduction"
  style="background-image: url('assets/img/hero/22_0602-d9-uswds-toolkit.png');">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt">Components Page</span>
      </h1>
      <p>See a variety of different USWDS components that can be used on site pages.</p>
      <a class="usa-button usa-button--outline usa-button--inverse" href="https://www.dhs.gov/xlibrary/dhsweb/_site/components.html">
        Call to action
      </a>
    </div>
  </div>
</section>
