{% include gov-banner.html %}
<div class="usa-overlay"></div>
<header class="site-header usa-header-microsite usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo logo-seal" id="seal-logo">
      <em class="usa-logo__seal">
        <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/" title="Home" aria-label="Home">
          <div class="usa-sr-only">Department of Homeland Security</div>
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
</header>


<section id="microsite-header" aria-label="Header for Science and Technology" class="microsite-header usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="microsite-extended-mega-logo">
      <em class="usa-logo__text">
        <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/microsite.html" title="Science and Technology home">
          Science and Technology
        </a>
      </em>
    </div>
  </div>
  {% include site-nav.html microsite=true %}
</section>

