{% if include.microsite != true %}
  <nav aria-label="Primary navigation" class="usa-nav">
{% else %}
  <nav aria-label="Microsite navigation" class="usa-nav">
{% endif %}
  <div class="usa-nav__inner">
    <button class="usa-nav__close">
        <img src="assets/uswds/img/close.svg" role="img" alt="close">
    </button>
    <div class="usa-nav__secondary">
      <form class="usa-search usa-search--small " role="search">
        <label class="usa-sr-only" for="extended-mega-search-field-small">Search small</label>
        <input class="usa-input" id="extended-mega-search-field-small" type="search" name="search">
        <button class="usa-button" type="submit"><span class="usa-sr-only">Search</span></button>
      </form>
    </div>
    <ul class="usa-nav__primary usa-accordion">

      <!--Primary navigation-->

      {% if include.microsite != true %}


      <!-- Design Components -->


      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false"
          aria-controls="menu-navigate"><span>Design Components</span></button>
        <div id="menu-navigate" class="usa-nav__submenu usa-megamenu" hidden>
          <div class="grid-row grid-gap-4">
            <div class="usa-col">
              <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/components.html">Components</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/forms.html">Forms</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/typography.html">Typography</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- Example Pages -->

      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
          aria-controls="menu-topics"><span>Example Pages</span></button>
        <div id="menu-topics" class="usa-nav__submenu usa-megamenu" hidden="true">
          <div class="grid-row grid-gap-4">
            <div class="usa-col">
              <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/content.html">Content Page</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/microsite.html">Microsite</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- Official DHS Color Palette -->

      <li class="usa-nav__primary-item">
        <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/color-palette.html">Official DHS Color Palette</a>
      </li>

      <!-- Github Repository -->

      <li class="usa-nav__primary-item">
        <a href="https://github.com/adrianavecchiodhs/usdhs-design-site">Github Repository</a>
      </li>

      

      {% else %}
      <!-- Microsite Navigation -->

      <!-- Design Site Pages-->

      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false"
          aria-controls="menu-navigate"><span>Navigate This Design Site</span></button>
        <div id="menu-navigate" class="usa-nav__submenu usa-megamenu" hidden>
          <div class="grid-row grid-gap-4">
            <div class="usa-col">
              <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/components.html">Components</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/forms.html">Forms</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/typography.html">Typography</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/content.html">Content Page</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/microsite.html">Microsite</a>
                  </li>
                  <li class="usa-nav__submenu-item">
                    <a href="https://www.dhs.gov/xlibrary/dhsweb/_site/color-palette.html">Official DHS Color Palette</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="https://github.com/adrianavecchiodhs/usdhs-design-site">Github Repository</a>
                      </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- Research  -->
      <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false"
          aria-controls="menu-topics"><span>Research</span></button>
        <div id="menu-topics" class="usa-nav__submenu usa-megamenu" hidden="true">
          <div class="grid-row grid-gap-4">
            <div class="usa-col">
              <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                  <a href="#">Topics</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Border Security</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Citizenship and Immigration Services</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Cybersecurity</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Disasters</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Economic Security</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Election Security</a>
                </li>
              </ul>
            </div>
            <div class="usa-col">
              <ul class="usa-nav__submenu-list">
                <li class="usa-nav__submenu-item">
                  <a href="#">Homeland Security Enterprise</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Immigration and Customs Enforcement</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Preventing Terrorism</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Resilience</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Science and Technology</a>
                </li>
                <li class="usa-nav__submenu-item">
                  <a href="#">Transportation Security</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- Collaboration -->

      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
        aria-controls="menu-news"><span>Collaboration</span></button>
      <div id="menu-news" class="usa-nav__submenu usa-megamenu" hidden>
        <div class="grid-row grid-gap-4">
          <div class="usa-col">
            <ul class="usa-nav__submenu-list">
              <li class="usa-nav__submenu-item">
                <a href="#">News</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Blog</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Data</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Events</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Fact Sheets</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Homeland Security LIVE</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">In Focus</a>
              </li>

            </ul>
          </div>
          <div class="usa-col">
            <ul class="usa-nav__submenu-list">
              <li class="usa-nav__submenu-item">
                <a href="#">In Focus</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Multimedia</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">National Terrorism Advisory System</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Podcasts</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Press Releases</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Publications Library</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Social Hub</a>
              </li>
            </ul>
          </div>
          <div class="usa-col">
            <ul class="usa-nav__submenu-list">
              <li class="usa-nav__submenu-item">
                <a href="#">Social Media</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Speeches</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Testimony</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">News Archive</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Comunicados de Prensa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <!-- Work With S&T -->
    <li class="usa-nav__primary-item">
      <button class="usa-accordion__button usa-nav__link" aria-expanded="false"
        aria-controls="menu-how-do-i"><span>Work With S&T</span></button>
      <div id="menu-how-do-i" class="usa-nav__submenu usa-megamenu" hidden>
        <div class="grid-row grid-gap-4">
          <div class="usa-col">
            <ul class="usa-nav__submenu-list">
              <li class="usa-nav__submenu-item">
                <a href="#">How Do I?</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">Alphabetical Listing</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">At DHS</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">For Businesses</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">For Travelers</a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="#">For the Public<sup>&reg;</sup></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>


      {% endif %}

    </ul>
  
  </div>
</nav>
